* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
}

.pacmanTitle {
  /* opacity: 0; */
  animation: zoomInDown;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.pokemonTitle {
  /* opacity: 0; */
  animation: zoomInDown;
  animation-duration: 2.4s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

h1 {
  /* opacity: 0; */
  animation: zoomInDown;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}


.video-and-grid-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
  visibility: visible;
  top: 160px;
  
}

.pokemon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 500px;
}

.pokemon div {
  background-image: url(../images/pokeball.png);
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  visibility: hidden;
}

.pokemon div:hover {
  animation: wobble;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
}

.pokemon div img {
  text-align: center;
  opacity: 0.2;

}


.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 10px;
  width: 584px;
  height: 584px;
  /* opacity: 0; */
}

.grid-container div {
  width: 20px;
  height: 20px;
}

.scores-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}









/*Grid Items & Character classes*/

.food {
  background-image: url(../images/food.png);
  object-fit: contain;
  /* background-color: brown;
  border: 5px solid white; */
}

.barrier {
  background-color: lightcoral;
  border: 1px solid indianred
}

.flashing-food {
  background-image: url(../images/rareCandy.png);
  object-fit: contain;
}

.ghost-lair {

}

.Player-Hunted{
  background-image: url(../images/charmander.png);
  object-fit: contain;
}

.Player-Hunter{
  background-image: url(../images/charizard.png);
  object-fit: cover;
}

.Ghost-Hunter{
  background-image: url(../images/gengar.png);
  object-fit: contain;
}

.Ghost-Hunted{
  background-image: url(../images/gastly.png);
  object-fit: contain;
}
