* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 584px;
  height: 584px;
  margin-top: 10%;
}

.grid-container div {
  width: 20px;
  height: 20px;
}

/*Grid Items & Character classes*/

.food {
  background-color: brown;
  border: 5px solid white;
}

.barrier {
  background-color: blue;
}

.flashing-food {
  background-color: pink;
  border-radius: 10px;
}

.ghost-lair {

}

.Player {
  background-color: yellow;
  border: 2px solid white;
}

.Ghost {
  background-color: purple;
  border: 2px solid white;
}